Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

requirements.txt:
  name: requirements.txt
  description: Generate requirements.txt
  entry: tools/extract_requirements.py dev sentry
  pass_filenames: false
  language: script

config.yml:
  name: config.yml
  description: Update config files
  entry: tools/update-config-files.sh
  pass_filenames: false
  language: script

legacy-migrations-version:
  name: legacy-migrations-version
  description: Ensure valid schema version for migrations
  entry: tools/legacy-migrations-version.sh
  pass_filenames: false
  language: script

legacy-assets-checksum-update:
  name: legacy-assets-checksum-update
  description: Update legacy assets checksum
  entry: legacy/tools/assets-checksum-update.py
  pass_filenames: false
  language: script

refactor: remove non existent asset file
  legacy/application/controllers/LoginController.php
Due: legacy-assets-checksum-update

refactor: remove non existent asset file (#3042)
  legacy/application/controllers/LoginController.php
Due: legacy-assets-checksum-update

fix: pin pip version to <24.1 to allow installing pytz (celery)
  install
  tools/python.mk
Due: none

fix: pin pip version to <24.1 to allow installing pytz (celery) (#3043)
  install
  tools/python.mk
Due: none

perf: optimize the rabbitmq health check (#3037)
  docker-compose.yml
Due: none

chore(main): release 4.2.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

chore(main): release 4.2.0 (#3028)
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

docs: fix typo (#3027)
  docs/admin-manual/custom-authentication.md
Due: none

docs: add missing v4.2.0 release note
  docs/releases/4.2.0.md
Due: none

docs: add missing v4.2.0 release note (#3044)
  docs/releases/4.2.0.md
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translated using weblate (Spanish)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3046)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

amends test for new database fields
  legacy/tests/application/models/database/datasets/test_checkOverlappingShows.yml
  legacy/tests/application/services/database/ShowServiceDbTest.php
  legacy/tests/application/services/database/datasets/test_ccShowInsertedIntoDatabase.yml
  legacy/tests/application/services/database/datasets/test_changeRepeatDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_createBiWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyMonthlyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_createQuadWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createTriWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstance.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstanceAndAllFollowing.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowChangeNoEndOption.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowInstance.yml
  legacy/tests/application/services/database/datasets/test_removeFirstRepeatShowDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_repeatShowCreationWhenUserMovesForwardInCalendar.yml
  legacy/tests/application/services/database/datasets/test_unlinkLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_weeklyToBiWeekly.yml
  legacy/tests/application/services/database/datasets/test_weeklyToNoRepeat.yml
  legacy/tests/application/testdata/ShowServiceData.php
Due: legacy-assets-checksum-update

update schema.xml and run propel
  legacy/application/configs/airtime-conf.php
  legacy/application/models/airtime/map/CcPlaylistTableMap.php
  legacy/application/models/airtime/map/CcShowTableMap.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistPeer.php
  legacy/application/models/airtime/om/BaseCcPlaylistQuery.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowPeer.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/build/schema.xml
Due: legacy-assets-checksum-update

Custom Intro/Outro lists per show
  api/libretime_api/legacy/migrations/0046_add_override_intro_outro_playlists.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/schema.yml
  legacy/application/assets.json
  legacy/application/forms/AddShowAutoPlaylist.php
  legacy/application/models/Show.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/models/airtime/map/CcPlaylistTableMap.php
  legacy/application/models/airtime/map/CcShowTableMap.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowPeer.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/application/views/scripts/form/add-show-autoplaylist.phtml
  legacy/public/js/airtime/schedule/add-show.js
Due: legacy-migrations-version, legacy-assets-checksum-update

fix loading of lists
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/models/Show.php
  legacy/application/services/ShowService.php
Due: legacy-assets-checksum-update

fix SQL statements
  api/libretime_api/legacy/migrations/0046_add_override_intro_outro_playlists.py
  api/libretime_api/legacy/migrations/sql/schema.sql
Due: legacy-migrations-version

fix: Docker warnings "keywords casing do not match"
  Dockerfile
Due: none

Update Dockerfile
  Dockerfile
Due: none

fix: docker warnings "keywords casing do not match" (#3048)
  Dockerfile
Due: none

chore(main): release 4.2.1
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

Improve Docker install docs
  docs/admin-manual/install/install-using-docker.md
Due: none

Remove docker install command
  docs/admin-manual/install/install-using-docker.md
Due: none

docs: use new docker compose command (#3054)
  docs/admin-manual/install/install-using-docker.md
Due: none

chore(legacy): translated using weblate (Ukrainian)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3055)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

ci: fix broken link check
  .github/workflows/housekeeping.yml
Due: none

ci: fix broken link check (#3061)
  .github/workflows/housekeeping.yml
Due: none

ci: downgrade django-stubs to not install v5.x
  api/setup.py
Due: requirements.txt

ci: downgrade django-stubs to not install v5.x (#3062)
  api/setup.py
Due: requirements.txt

fix(legacy): Fix isFull never triggering because arrow functions are capture by value at the time of creation.
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

fix(legacy): Fix filename searching so it only truly searches the filename
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

refactor(legacy): In my git stash merge I missed some modifiers... so add them back here.
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

feat(legacy): Show filename in metadata editor
  legacy/application/views/scripts/library/edit-file-md.phtml
Due: legacy-assets-checksum-update

fix(legacy): fix filename criteria searching (#3068)
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

Path conditions:
  requirements.txt: any of: setup.py$
  config.yml: any of: ^installer/config.yml$
  legacy-migrations-version: any of: ^api/libretime_api/legacy/migrations
  legacy-assets-checksum-update: any of: ^legacy
