Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^legacy/public(?!/js/airtime)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

fix: regenerate API schema
  api/schema.yml
Due: none

feat(analyzer): parse comment fields from mp3 files (#3082)
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
  analyzer/tests/fixtures/__init__.py
  analyzer/tests/pipeline/analyze_metadata_test.py
Due: none

chore(legacy): translated using weblate (Russian)
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3116)
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore: add pre-commit API check
  .pre-commit-config.yaml
Due: none

feat(legacy): trused header sso auth (#3095)
  docs/admin-manual/custom-authentication.md
  legacy/application/auth/adapters/HeaderAuth.php
  legacy/application/configs/conf.php
  legacy/application/controllers/LoginController.php
Due: legacy-assets-checksum-update

chore(main): release 4.3.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

fix(legacy): migrations from airtime 2.5.1
  api/libretime_api/legacy/migrations/0006_2_5_5.py
  api/libretime_api/legacy/migrations/0015_2_5_17.py
  api/libretime_api/legacy/migrations/0023_3_0_0_alpha_9_1.py
  api/libretime_api/legacy/migrations/_migrations.py
Due: legacy-migrations-version

Combined schema_version and system_version into a single query. Comment added clarifying purpose of empty migration
  api/libretime_api/legacy/migrations/0023_3_0_0_alpha_9_1.py
  api/libretime_api/legacy/migrations/_migrations.py
Due: legacy-migrations-version

fix(installer): clarify install documentation around specifying a non-default port
  docs/admin-manual/install/install-using-the-installer.md
Due: none

fix(legacy): migrations from airtime 2.5.1
  api/libretime_api/legacy/migrations/0023_3_0_0_alpha_9_1.py
Due: legacy-migrations-version

pylint fix, line too long
  api/libretime_api/legacy/migrations/_migrations.py
Due: legacy-migrations-version

fix(legacy): migrations from airtime 2.5.1 (#3123)
  api/libretime_api/legacy/migrations/0006_2_5_5.py
  api/libretime_api/legacy/migrations/0015_2_5_17.py
  api/libretime_api/legacy/migrations/0023_3_0_0_alpha_9_1.py
  api/libretime_api/legacy/migrations/_migrations.py
Due: legacy-migrations-version

Added filters, limit, and offset for Files api
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

add test for limit
  api/libretime_api/storage/tests/views/test_file.py
Due: none

remove unused imports
  api/libretime_api/storage/views/file.py
Due: none

fix test, didn't encode "&" properly, with with soul
  api/libretime_api/storage/tests/views/test_file.py
Due: none

remove pagination from pr
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
  api/schema.yml
Due: none

fix: update preview_jplayer.js
  legacy/public/js/airtime/audiopreview/preview_jplayer.js
Due: legacy-assets-checksum-update

Added filters, limit, and offset for Files api
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
  api/schema.yml
Due: none

Added filters, limit, and offset for Files api
  api/libretime_api/storage/views/file.py
Due: none

Fix rebase
  api/libretime_api/storage/tests/views/test_file.py
Due: none

chore(legacy): translated using weblate (French)
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3129)
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

ci: add permission to create tables to libretime test user
  .github/workflows/legacy.yml
Due: none

remove DROP permission
  .github/workflows/legacy.yml
Due: none

grant all permissions on database, not general schema
  .github/workflows/legacy.yml
Due: none

make libretime owner of test database
  .github/workflows/legacy.yml
Due: none

ci: make libretime test user owner of test database (#3130)
  .github/workflows/legacy.yml
Due: none

feat(api): added filters on genre & md5 for files api (#3127)
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
  api/schema.yml
Due: none

it is a system check
  .pre-commit-config.yaml
Due: none

fix(legacy): additional specifics added to CSVexport.js for better RFC 4180 compliance.
  legacy/application/assets.json
  legacy/public/js/libs/CSVexport.js
Due: legacy-assets-checksum-update

chore: add pre-commit API check (#3120)
  .pre-commit-config.yaml
Due: none

fix(legacy): additional specifics added to CSVexport.js for RFC 4180 (#3131)
  legacy/application/assets.json
  legacy/public/js/libs/CSVexport.js
Due: legacy-assets-checksum-update

chore: update docker compose commands
  Makefile
Due: none
