Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update, api-schema-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^(legacy/public(?!/js/airtime)|CHANGELOG.md$|.github/release-please-manifest.json)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.22.2
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 24.10.0
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

      - id: api-schema-update
        name: api-schema-update
        description: Ensure API schema is up to date
        entry: make -C api schema
        pass_filenames: false
        language: system
        files: ^api

refactor(legacy): fix php8.5 deprecations warnings (#3321)
  legacy/application/models/airtime/om/BaseCcBlockcontents.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcFilesQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontents.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryTemplateField.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistoryTemplateFieldQuery.php
  legacy/application/models/airtime/om/BaseCcSchedule.php
  legacy/application/models/airtime/om/BaseCcScheduleQuery.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowInstances.php
  legacy/application/models/airtime/om/BaseCcShowInstancesQuery.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/models/airtime/om/BaseCcTracktypes.php
  legacy/application/models/airtime/om/BaseCcTracktypesQuery.php
  legacy/application/models/airtime/om/BaseImportedPodcast.php
  legacy/application/models/airtime/om/BaseImportedPodcastQuery.php
  legacy/composer.lock
  legacy/tests/application/services/unit/ShowServiceUnitTest.php
Due: legacy-assets-checksum-update

feat(installer): add Debian 12 (bookworm) detection and PHP 8.2 packages
  install
  legacy/install/php-fpm/libretime-legacy.conf
Due: legacy-assets-checksum-update

revert LANG setup in php-fpm
  legacy/install/php-fpm/libretime-legacy.conf
Due: legacy-assets-checksum-update

feat(installer): support debian 12 (bookworm) (#3239)
  install
Due: none

fix: php8.*-apcu-bc package no longer exists
  legacy/packages.ini
Due: legacy-assets-checksum-update

fix: php8.*-apcu-bc package no longer exists (#3324)
  legacy/packages.ini
Due: legacy-assets-checksum-update

feat!: drop support for focal, bullseye and jammy
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/dev-tools.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  analyzer/packages.ini
  analyzer/tests/pipeline/analyze_playability_test.py
  api/packages.ini
  docs/releases/README.md
  docs/releases/unreleased.mdx
  install
  legacy/packages.ini
  playout/packages.ini
  playout/tests/liquidsoap/version_test.py
  shared/packages.ini
  tools/packages.py
  tools/python.mk
Due: legacy-assets-checksum-update, api-schema-update

test: fix tools tests
  tools/packages_test.py
Due: none

feat!: drop support for focal, bullseye and jammy (#3323)
  .github/workflows/analyzer.yml
  .github/workflows/api-client.yml
  .github/workflows/api.yml
  .github/workflows/dev-tools.yml
  .github/workflows/playout.yml
  .github/workflows/shared.yml
  analyzer/packages.ini
  analyzer/tests/pipeline/analyze_playability_test.py
  api/packages.ini
  docs/releases/README.md
  docs/releases/unreleased.mdx
  install
  legacy/packages.ini
  playout/packages.ini
  playout/tests/liquidsoap/version_test.py
  shared/packages.ini
  tools/packages.py
  tools/packages_test.py
  tools/python.mk
Due: legacy-assets-checksum-update, api-schema-update

feat: use python 3.11 in docker image
  Dockerfile
Due: none

feat: use python 3.11 in docker image (#3325)
  Dockerfile
Due: none

feat!: drop support for python < 3.11
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/requirements.txt
  playout/setup.py
  shared/libretime_shared/config/_models.py
  shared/requirements.txt
  shared/setup.py
Due: requirements.txt, api-schema-update

feat!: drop support for python <3.11 (#3322)
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/requirements.txt
  playout/setup.py
  shared/libretime_shared/config/_models.py
  shared/requirements.txt
  shared/setup.py
Due: requirements.txt, api-schema-update

chore: upgrade pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: upgrade prettier pre-commit hooks (#3326)
  .pre-commit-config.yaml
Due: none

refactor: upgrade code to python>=3.11
  .pre-commit-config.yaml
Due: none

chore(deps): update django to 5.2
  api/requirements.txt
  api/schema.yml
  api/setup.py
Due: requirements.txt, api-schema-update

chore: upgrade django upgrade
  .pre-commit-config.yaml
Due: none

refactor: upgrade code to django 5.2
  api/libretime_api/schedule/models/show.py
Due: api-schema-update

chore(deps): update django to 5.2 (#3334)
  .pre-commit-config.yaml
  api/libretime_api/schedule/models/show.py
  api/requirements.txt
  api/schema.yml
  api/setup.py
Due: requirements.txt, api-schema-update

feat: update postgres docker tag to v17
  docker-compose.yml
Due: none

feat(docker)!: update postgres image to v17 (#3335)
  docker-compose.yml
Due: none

fix: live DJ not disconnected when show ends
  api-client/libretime_api_client/v2.py
  api/libretime_api/schedule/views/show.py
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/player/liquidsoap.py
  playout/libretime_playout/player/queue.py
  playout/libretime_playout/player/schedule.py
Due: api-schema-update

fix(playout): cache show instances and shows when fetching schedule
  playout/libretime_playout/player/schedule.py
Due: none

fix lint
  playout/libretime_playout/player/schedule.py
Due: none

fix(playout): cache show instances and shows when fetching schedule (#3339)
  playout/libretime_playout/player/schedule.py
Due: none

fix(playout): deadlock when fetching version
  playout/libretime_playout/liquidsoap/client/_client.py
Due: none

fix(playout): deadlock when setting liquidsoap var (#3341)
  playout/libretime_playout/liquidsoap/client/_client.py
Due: none

refactor(playout): fix list.mem_assoc deprecation warning
  playout/libretime_playout/liquidsoap/2.1/ls_lib.liq
Due: none

refactor(playout): fix list.mem_assoc deprecation warning (#3342)
  playout/libretime_playout/liquidsoap/2.1/ls_lib.liq
Due: none

chore: enable debug logs for dev setup
  docker-compose.override.yml
Due: none

chore: enable debug logs for dev setup (#3343)
  docker-compose.override.yml
Due: none

feat(docker): cache expensive legacy live-info, week-info and artwork urls
  Dockerfile
  docker/nginx.conf
Due: none

feat: cache legacy live-info, week-info and artwork urls in docker setup (#3344)
  Dockerfile
  docker/nginx.conf
Due: none

refactor: use volume string instead of invalid json array
  Dockerfile
Due: none

fix(legacy): do not expose the running php version
  legacy/install/php-fpm/libretime-legacy.conf
  legacy/install/php/libretime-legacy.ini
Due: legacy-assets-checksum-update

fix(legacy): do not expose the running php version (#3345)
  legacy/install/php-fpm/libretime-legacy.conf
  legacy/install/php/libretime-legacy.ini
Due: legacy-assets-checksum-update
