Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

requirements.txt:
  name: requirements.txt
  description: Generate requirements.txt
  entry: tools/extract_requirements.py dev sentry
  pass_filenames: false
  language: script

config.yml:
  name: config.yml
  description: Update config files
  entry: tools/update-config-files.sh
  pass_filenames: false
  language: script

legacy-migrations-version:
  name: legacy-migrations-version
  description: Ensure valid schema version for migrations
  entry: tools/legacy-migrations-version.sh
  pass_filenames: false
  language: script

legacy-assets-checksum-update:
  name: legacy-assets-checksum-update
  description: Update legacy assets checksum
  entry: legacy/tools/assets-checksum-update.py
  pass_filenames: false
  language: script

feat(legacy): show filename and size on edit page and add filename datatable column (#3083)
  legacy/application/assets.json
  legacy/application/controllers/LibraryController.php
  legacy/application/models/StoredFile.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/js/airtime/library/library.js
Due: legacy-assets-checksum-update

feat(legacy): implement subset sum solution to show scheduling (#3019)
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

add clarifying label to select dropdown
  docs/user-manual/scheduling-shows.md
  legacy/application/forms/AddShowAutoPlaylist.php
Due: legacy-assets-checksum-update

feat(legacy): Add trusted header SSO Auth
  legacy/application/auth/adapters/HeaderAuth.php
  legacy/application/configs/conf.php
  legacy/application/controllers/LoginController.php
Due: legacy-assets-checksum-update

docs(legacy): document header authentication
  docs/admin-manual/custom-authentication.md
Due: none

feat(legacy): add trusted ip check
  docs/admin-manual/custom-authentication.md
  legacy/application/auth/adapters/HeaderAuth.php
  legacy/application/configs/conf.php
Due: legacy-assets-checksum-update

fix(docs): fix linter issue with docs
  docs/admin-manual/custom-authentication.md
Due: none

chore(legacy): translated using weblate (Italian)
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(main): release 4.3.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

chore(legacy): translations update from Hosted Weblate (#3099)
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

Reinstate database fields for boolean condition
  api/libretime_api/legacy/migrations/0046_add_override_intro_outro_playlists.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/schema.yml
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/configs/airtime-conf.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/Show.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/models/airtime/map/CcShowTableMap.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowPeer.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/build/schema.xml
  legacy/tests/application/models/database/datasets/test_checkOverlappingShows.yml
  legacy/tests/application/services/database/ShowServiceDbTest.php
  legacy/tests/application/services/database/datasets/test_changeRepeatDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_createBiWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyMonthlyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_createQuadWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createTriWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstance.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstanceAndAllFollowing.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowChangeNoEndOption.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowInstance.yml
  legacy/tests/application/services/database/datasets/test_removeFirstRepeatShowDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_repeatShowCreationWhenUserMovesForwardInCalendar.yml
  legacy/tests/application/services/database/datasets/test_unlinkLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_weeklyToBiWeekly.yml
  legacy/tests/application/services/database/datasets/test_weeklyToNoRepeat.yml
  legacy/tests/application/testdata/ShowServiceData.php
Due: legacy-migrations-version, legacy-assets-checksum-update

fix UI interaction to hide checkboxes
  legacy/application/models/Show.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
Due: legacy-assets-checksum-update

missed one
  legacy/application/services/ShowService.php
Due: legacy-assets-checksum-update

add playlist names
  legacy/application/forms/GeneralPreferences.php
Due: legacy-assets-checksum-update

fix(legacy): support Postgresql 12 syntax
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

lint/format
  legacy/application/configs/airtime-conf.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/Show.php
Due: legacy-assets-checksum-update

correct schema error
  api/schema.yml
Due: none

missed a test dataset
  legacy/tests/application/services/database/datasets/test_ccShowInsertedIntoDatabase.yml
Due: legacy-assets-checksum-update

'notherone
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

fix(legacy): support Postgresql 12 syntax (#3103)
  legacy/application/models/Block.php
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

fix: intro/outro playlist unset was impossible (#3101)
  api/libretime_api/legacy/migrations/0046_add_override_intro_outro_playlists.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/schema.yml
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Show.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/models/airtime/map/CcShowTableMap.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowPeer.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/build/schema.xml
  legacy/tests/application/models/database/datasets/test_checkOverlappingShows.yml
  legacy/tests/application/services/database/ShowServiceDbTest.php
  legacy/tests/application/services/database/datasets/test_ccShowInsertedIntoDatabase.yml
  legacy/tests/application/services/database/datasets/test_changeRepeatDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_createBiWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyMonthlyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_createQuadWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createTriWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstance.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstanceAndAllFollowing.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowChangeNoEndOption.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowInstance.yml
  legacy/tests/application/services/database/datasets/test_removeFirstRepeatShowDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_repeatShowCreationWhenUserMovesForwardInCalendar.yml
  legacy/tests/application/services/database/datasets/test_unlinkLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_weeklyToBiWeekly.yml
  legacy/tests/application/services/database/datasets/test_weeklyToNoRepeat.yml
  legacy/tests/application/testdata/ShowServiceData.php
Due: legacy-migrations-version, legacy-assets-checksum-update

chore(legacy): translated using weblate (Ukrainian)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3105)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

Enable writes to schedule table
  api/libretime_api/mixins/__init__.py
  api/libretime_api/mixins/readwriteserializer.py
  api/libretime_api/schedule/serializers/__init__.py
  api/libretime_api/schedule/serializers/schedule.py
  api/libretime_api/schedule/views/schedule.py
Due: none

schema update
  api/schema.yml
Due: none

use f strings
  api/libretime_api/mixins/readwriteserializer.py
Due: none

line length
  api/libretime_api/mixins/readwriteserializer.py
Due: none

fix type error
  api/libretime_api/mixins/readwriteserializer.py
Due: none

chore(legacy): translated using weblate (Spanish)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3110)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

feat(api): enable writes to schedule table (#3109)
  api/libretime_api/mixins/__init__.py
  api/libretime_api/mixins/readwriteserializer.py
  api/libretime_api/schedule/serializers/__init__.py
  api/libretime_api/schedule/serializers/schedule.py
  api/libretime_api/schedule/views/schedule.py
  api/schema.yml
Due: none

chore(legacy): translations update from Hosted Weblate (#3112)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

docs: mention that header auth only affects legacy auth
  docs/admin-manual/custom-authentication.md
Due: none

Path conditions:
  requirements.txt: any of: setup.py$
  config.yml: any of: ^installer/config.yml$
  legacy-migrations-version: any of: ^api/libretime_api/legacy/migrations
  legacy-assets-checksum-update: any of: ^legacy
