Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^legacy/public(?!/js/airtime)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

feat(api): implement file deletion
  api/libretime_api/storage/tests/views/test_file.py
Due: none

tryfix schema again
  api/schema.yml
Due: none

remove overcommit
  legacy/application/assets.json
  legacy/public/js/airtime/tracktype/tracktype.js
Due: legacy-assets-checksum-update

fix(legacy): allow updating track types code (#2955)
  legacy/application/assets.json
  legacy/public/js/airtime/tracktype/tracktype.js
Due: legacy-assets-checksum-update

docs: fix broken link
  docs/user-manual/settings.md
Due: none

ci: disable overly-sensitive vale rule
  .vale.ini
Due: none

docs: add dependency for debian 11
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

Update debian deb reference
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

clarify commands and warnings
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

add reference to non-free
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

remove gain editor, keep waveform controls and zoom
  legacy/application/assets.json
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/css/images/753E35DF76BB56F7.png
  legacy/public/css/images/knob_2x.png
  legacy/public/css/images/meterbg.png
  legacy/public/css/images/meterneedle.svg
  legacy/public/css/styles.css
  legacy/public/js/wavesurfer/libretime.js
Due: legacy-assets-checksum-update

docs: use apt-add-repository to add non-free component
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

docs: get libfdk-aac from non-free source for debian 11 (#2954)
  docs/admin-manual/tutorials/setup-liquidsoap-aac-streaming.md
Due: none

chore: reenable vale rule after fix
  .vale.ini
Due: none

chore: reenable vale rule after fix (#2965)
  .vale.ini
Due: none

feat(api): implement file deletion - new fork
  api/libretime_api/schedule/models/schedule.py
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

chore(legacy): translated using weblate (Dutch)
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#2970)
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

No 3.9 version, moving to 3.8
  docker-compose.override.yml
  docker-compose.yml
Due: none

Change version to 3.7
  docker-compose.override.yml
  docker-compose.yml
Due: none

fix: incorrect docker compose version (#2975)
  docker-compose.override.yml
  docker-compose.yml
Due: none

chore(main): release 4.1.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

Cuepoint editor (#5)
  legacy/application/assets.json
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/css/styles.css
  legacy/public/js/wavesurfer/libretime.js
Due: legacy-assets-checksum-update

fix merge error
  legacy/application/views/scripts/library/edit-file-md.phtml
Due: legacy-assets-checksum-update

test: update config model schema
  shared/tests/config/base_test.py
Due: none

refactor: update php code
  legacy/application/common/HTTPHelper.php
  legacy/application/logging/AirtimeLog.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/models/airtime/CcShowInstances.php
  legacy/application/modules/rest/controllers/RouteController.php
Due: legacy-assets-checksum-update

fix: remove obsolete docker compose version
  docker-compose.override.yml
  docker-compose.yml
Due: none

fix: remove obsolete docker compose version (#2982)
  docker-compose.override.yml
  docker-compose.yml
Due: none

docs: prevent reverse proxy from limiting the upload limits
  docs/admin-manual/install/install-using-the-installer.md
  docs/admin-manual/install/reverse-proxy.md
Due: none

docs: prevent reverse proxy from constraining the upload limits (#2984)
  docs/admin-manual/install/install-using-the-installer.md
  docs/admin-manual/install/reverse-proxy.md
Due: none

fix(legacy): fix track type form validation
  legacy/application/controllers/TracktypeController.php
  legacy/application/forms/AddTracktype.php
Due: legacy-assets-checksum-update

fix(legacy): allow updating a track type code
  legacy/application/controllers/TracktypeController.php
Due: legacy-assets-checksum-update

fix(legacy): ensure validation is performed on the track type form (#2985)
  legacy/application/controllers/TracktypeController.php
  legacy/application/forms/AddTracktype.php
Due: legacy-assets-checksum-update

chore: mark php-cs-fixer as dev dependency
  legacy/tools/composer.json
Due: legacy-assets-checksum-update

chore: mark php-cs-fixer as dev dependency (#2986)
  legacy/tools/composer.json
Due: legacy-assets-checksum-update

feat: configure celery beat for period tasks
  Dockerfile
  worker/install/systemd/libretime-worker.service
  worker/libretime_worker/config.py
Due: none

fix: trigger legacy tasks manager every 5m
  Dockerfile
  api-client/libretime_api_client/v1.py
  worker/Makefile
  worker/libretime_worker/tasks.py
Due: none

fix: trigger legacy tasks manager every 5m (#2987)
  Dockerfile
  api-client/libretime_api_client/v1.py
  worker/Makefile
  worker/install/systemd/libretime-worker.service
  worker/libretime_worker/config.py
  worker/libretime_worker/tasks.py
Due: none
