Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update, api-schema-update

requirements.txt:
  name: requirements.txt
  description: Generate requirements.txt
  entry: tools/extract_requirements.py dev sentry
  pass_filenames: false
  language: script

config.yml:
  name: config.yml
  description: Update config files
  entry: tools/update-config-files.sh
  pass_filenames: false
  language: script

legacy-migrations-version:
  name: legacy-migrations-version
  description: Ensure valid schema version for migrations
  entry: tools/legacy-migrations-version.sh
  pass_filenames: false
  language: script

legacy-assets-checksum-update:
  name: legacy-assets-checksum-update
  description: Update legacy assets checksum
  entry: legacy/tools/assets-checksum-update.py
  pass_filenames: false
  language: script

api-schema-update:
  name: api-schema-update
  description: Ensure API schema is up to date
  entry: make -C api schema
  pass_filenames: false
  language: system

refactor: use volume string instead of invalid json array (#3346)
  Dockerfile
Due: none

feat!: drop support for liquisoap <2.1
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/client/__snapshots__/connection_test.ambr
  playout/tests/liquidsoap/client/conftest.py
  playout/tests/liquidsoap/conftest.py
  playout/tests/liquidsoap/entrypoint_test.py
Due: none

feat!: drop support for liquisoap <2.1 (#3347)
  playout/libretime_playout/liquidsoap/1.4/ls_lib.liq
  playout/libretime_playout/liquidsoap/1.4/ls_script.liq
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
  playout/libretime_playout/liquidsoap/client/_client.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/client/__snapshots__/connection_test.ambr
  playout/tests/liquidsoap/client/conftest.py
  playout/tests/liquidsoap/conftest.py
  playout/tests/liquidsoap/entrypoint_test.py
Due: none

chore(main): release 5.0.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
Due: requirements.txt, api-schema-update

test: trim fixed length id
  api/libretime_api/core/tests/tasks_test.py
Due: api-schema-update

fix lint
  api/libretime_api/core/tasks.py
Due: api-schema-update

feat(api): clean expired php sessions every 6h (#3348)
  api/libretime_api/core/models/__init__.py
  api/libretime_api/core/models/auth.py
  api/libretime_api/core/tasks.py
  api/libretime_api/core/tests/tasks_test.py
  api/libretime_api/worker.py
Due: api-schema-update

feat(api): clean old overbooked schedule every 6h
  api/libretime_api/schedule/tasks.py
  api/libretime_api/schedule/tests/tasks_test.py
  api/libretime_api/worker.py
Due: api-schema-update

fix test lint errors
  api/libretime_api/schedule/tests/tasks_test.py
Due: api-schema-update

feat(api): clean old overbooked schedule every 6h (#3349)
  api/libretime_api/schedule/tasks.py
  api/libretime_api/schedule/tests/tasks_test.py
  api/libretime_api/worker.py
Due: api-schema-update

feat(analyzer): check file playability using ffmpeg
  analyzer/libretime_analyzer/pipeline/_liquidsoap.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/packages.ini
  analyzer/setup.py
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/analyze_metadata_test.py
  analyzer/tests/pipeline/analyze_playability_test.py
  analyzer/tests/pipeline/analyze_replaygain_test.py
  analyzer/tests/pipeline/ffmpeg_test.py
Due: requirements.txt

feat(analyzer): check file playability using ffmpeg (#3350)
  analyzer/libretime_analyzer/pipeline/_liquidsoap.py
  analyzer/libretime_analyzer/pipeline/analyze_playability.py
  analyzer/packages.ini
  analyzer/setup.py
  analyzer/tests/pipeline/analyze_cuepoint_test.py
  analyzer/tests/pipeline/analyze_metadata_test.py
  analyzer/tests/pipeline/analyze_playability_test.py
  analyzer/tests/pipeline/analyze_replaygain_test.py
  analyzer/tests/pipeline/ffmpeg_test.py
Due: requirements.txt

feat: use explicit rabbitmq storage on docker setup
  docker-compose.yml
Due: none

feat: use explicit rabbitmq storage on docker setup (#3351)
  docker-compose.yml
Due: none

fix(legacy): avoid null property access in UserService for anonymous requests
  legacy/application/services/UserService.php
Due: legacy-assets-checksum-update

fix(legacy): avoid null property access in UserService for anonymous requests (#3352)
  legacy/application/services/UserService.php
Due: legacy-assets-checksum-update

fix(legacy): log unmatched routes/controllers/actions as warnings, not errors
  legacy/application/controllers/ErrorController.php
Due: legacy-assets-checksum-update

fix(legacy): log unmatched routes/controllers/actions as warnings (#3353)
  legacy/application/controllers/ErrorController.php
Due: legacy-assets-checksum-update

chore(legacy): only log schedule controller vars with debug
  legacy/application/controllers/ScheduleController.php
Due: legacy-assets-checksum-update

chore(legacy): only log schedule controller vars with debug (#3354)
  legacy/application/controllers/ScheduleController.php
Due: legacy-assets-checksum-update

refactor: rector with php level 4
  legacy/application/models/LoginAttempts.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage level 0
  legacy/application/controllers/LocaleController.php
  legacy/application/models/Block.php
  legacy/application/models/tests/AllTests.php
  legacy/application/models/tests/SchedulerExportTests.php
  legacy/application/models/tests/SchedulerTests.php
  legacy/application/models/tests/StoredFileTests.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage level 1
  legacy/application/check.php
  legacy/application/models/tests/populator.php
  legacy/public/index.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage level 4
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage doc block level 4
  legacy/application/models/Tracktype.php
  legacy/application/models/User.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with code quality level 1
  legacy/application/views/scripts/form/smart-block-criteria.phtml
  legacy/application/views/scripts/playlist/update.phtml
  legacy/application/views/scripts/preference/stream-setting.phtml
  legacy/application/views/scripts/schedule/show-content-dialog.phtml
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with code quality level 4
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with dead code level 0
  legacy/application/common/TaskManager.php
  legacy/application/common/Timezone.php
  legacy/application/controllers/PreferenceController.php
  legacy/application/controllers/TracktypeController.php
  legacy/application/controllers/UserController.php
  legacy/application/controllers/plugins/PageLayoutInitPlugin.php
  legacy/application/forms/EditAudioMD.php
  legacy/application/forms/EditHistory.php
  legacy/application/models/Library.php
  legacy/application/models/StoredFile.php
  legacy/application/models/Tracktype.php
  legacy/application/models/Webstream.php
  legacy/application/services/HistoryService.php
  legacy/application/services/PodcastService.php
  legacy/application/views/scripts/form/edit-history-file.phtml
  legacy/application/views/scripts/form/edit-history-item.phtml
  legacy/application/views/scripts/library/get-file-metadata.ajax.phtml
  legacy/application/views/scripts/plupload/index.phtml
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage doc block level 5
  legacy/application/common/DateHelper.php
  legacy/application/models/Show.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage doc block level 6
  legacy/application/models/Show.php
  legacy/application/services/HistoryService.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with php level 6
  legacy/application/layouts/scripts/layout.phtml
  legacy/application/views/scripts/form/edit-history-file.phtml
  legacy/application/views/scripts/form/edit-history-item.phtml
  legacy/application/views/scripts/menu.phtml
  legacy/application/views/scripts/playlist/update.phtml
  legacy/application/views/scripts/playouthistorytemplate/template-contents.phtml
  legacy/application/views/scripts/schedule/add-show-form.phtml
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage level 6
  legacy/application/auth/adapters/HeaderAuth.php
  legacy/application/models/Block.php
  legacy/application/models/Scheduler.php
  legacy/rector.php
  legacy/tests/application/testdata/BlockModelData.php
Due: legacy-assets-checksum-update

refactor: rector with code quality level 7
  legacy/application/models/Block.php
  legacy/application/models/Datatables.php
  legacy/application/models/Preference.php
  legacy/application/models/airtime/CcSubjs.php
  legacy/rector.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage level 7
  legacy/application/airtime-boot.php
  legacy/application/check.php
  legacy/application/common/UsabilityHints.php
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/plugins/Acl_plugin.php
  legacy/application/forms/AddShowRepeats.php
  legacy/application/forms/AddUser.php
  legacy/application/forms/EditUser.php
  legacy/application/forms/WatchedDirPreferences.php
  legacy/application/models/Playlist.php
  legacy/application/models/Schedule.php
  legacy/application/models/Scheduler.php
  legacy/application/models/ShowInstance.php
  legacy/application/models/Subjects.php
  legacy/application/models/Systemstatus.php
  legacy/application/models/User.php
  legacy/application/models/Webstream.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/models/airtime/CcSchedule.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/models/airtime/StationPodcast.php
  legacy/application/modules/rest/helpers/RestAuth.php
  legacy/application/services/PublishService.php
  legacy/application/services/SchedulerService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/rector.php
  legacy/tests/application/helpers/AirtimeInstall.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage doc block level 7
  legacy/application/check.php
  legacy/application/common/FileDataHelper.php
  legacy/application/common/LocaleHelper.php
  legacy/application/common/OsPath.php
  legacy/application/common/widgets/Table.php
  legacy/application/forms/GeneralPreferences.php
  legacy/application/models/Block.php
  legacy/application/models/FreeIpa.php
  legacy/application/models/Playlist.php
  legacy/application/models/Schedule.php
  legacy/application/models/ShowBuilder.php
  legacy/application/models/StoredFile.php
  legacy/application/models/Webstream.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/services/CalendarService.php
  legacy/application/services/HistoryService.php
  legacy/application/services/PodcastService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/application/views/helpers/SourceConnectionStatus.php
  legacy/application/views/helpers/SourceSwitchStatus.php
  legacy/rector.php
  legacy/tests/application/testdata/BlockModelData.php
  legacy/tests/application/testdata/ShowServiceData.php
Due: legacy-assets-checksum-update

chore: format legacy code
  legacy/application/common/DateHelper.php
  legacy/application/models/Block.php
  legacy/application/models/Schedule.php
  legacy/application/models/Show.php
  legacy/application/models/Tracktype.php
  legacy/application/models/User.php
  legacy/application/models/Webstream.php
  legacy/application/models/airtime/CcFiles.php
  legacy/application/services/CalendarService.php
  legacy/application/services/HistoryService.php
  legacy/application/services/PodcastService.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/tests/application/helpers/AirtimeInstall.php
  legacy/tests/application/testdata/BlockModelData.php
  legacy/tests/application/testdata/ShowServiceData.php
Due: legacy-assets-checksum-update

refactor: run with clean cache
  legacy/tests/application/models/database/BlockDbTest.php
  legacy/tests/application/models/database/ScheduleDbTest.php
  legacy/tests/application/models/unit/PreferenceUnitTest.php
  legacy/tests/application/models/unit/ScheduleUnitTest.php
  legacy/tests/application/services/database/ShowServiceDbTest.php
  legacy/tests/application/services/unit/ShowServiceUnitTest.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage level 8
  legacy/application/controllers/AudiopreviewController.php
  legacy/application/forms/ShowBuilder.php
  legacy/application/models/Datatables.php
  legacy/application/models/Scheduler.php
  legacy/application/models/ShowBuilder.php
  legacy/application/services/HistoryService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/ShowService.php
  legacy/rector.php
  legacy/tests/application/models/database/BlockDbTest.php
Due: legacy-assets-checksum-update

refactor: rector with type coverage doc block level 9
  legacy/application/check.php
  legacy/application/common/DateHelper.php
  legacy/application/common/PodcastManager.php
  legacy/application/common/Timezone.php
  legacy/application/controllers/ApiController.php
  legacy/application/models/Block.php
  legacy/application/models/Library.php
  legacy/application/models/ListenerStat.php
  legacy/application/models/Playlist.php
  legacy/application/models/Preference.php
  legacy/application/models/Schedule.php
  legacy/application/models/Show.php
  legacy/application/models/ShowInstance.php
  legacy/application/models/StoredFile.php
  legacy/application/models/StreamSetting.php
  legacy/application/models/Systemstatus.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/services/CalendarService.php
  legacy/application/services/HistoryService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/PublishService.php
  legacy/application/services/ShowFormService.php
  legacy/rector.php
Due: legacy-assets-checksum-update

Path conditions:
  requirements.txt: any of: setup.py$
  config.yml: any of: ^installer/config.yml$
  legacy-migrations-version: any of: ^api/libretime_api/legacy/migrations
  legacy-assets-checksum-update: any of: ^legacy
  api-schema-update: any of: ^api
