Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

requirements.txt:
  name: requirements.txt
  description: Generate requirements.txt
  entry: tools/extract_requirements.py dev sentry
  pass_filenames: false
  language: script

config.yml:
  name: config.yml
  description: Update config files
  entry: tools/update-config-files.sh
  pass_filenames: false
  language: script

legacy-migrations-version:
  name: legacy-migrations-version
  description: Ensure valid schema version for migrations
  entry: tools/legacy-migrations-version.sh
  pass_filenames: false
  language: script

legacy-assets-checksum-update:
  name: legacy-assets-checksum-update
  description: Update legacy assets checksum
  entry: legacy/tools/assets-checksum-update.py
  pass_filenames: false
  language: script

feat(legacy): allow device field for system output config
  legacy/application/configs/conf.php
Due: legacy-assets-checksum-update

docs: update notation
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
Due: config.yml

feat(playout): configure device for alsa and pulseaudio system outputs (#2654)
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/fixtures/__init__.py
  shared/libretime_shared/config/_models.py
Due: config.yml, legacy-assets-checksum-update

style: format php files
  legacy/application/models/Scheduler.php
  legacy/application/models/StoredFile.php
  legacy/application/models/User.php
  legacy/application/services/PodcastService.php
  legacy/application/services/ShowService.php
  legacy/application/services/ThirdPartyCeleryService.php
Due: legacy-assets-checksum-update

feat(installer)!: remove `--update-nginx` flag
  docs/admin-manual/install/install-using-the-installer.md
  install
Due: none

feat(installer)!: remove the `--update-nginx` flag (#2851)
  docs/admin-manual/install/install-using-the-installer.md
  install
Due: none

feat(installer)!: change default listen port to 8080
  Vagrantfile
  docker-compose.yml
  docker/nginx.conf
  docs/admin-manual/install/install-using-the-installer.md
  docs/admin-manual/install/reverse-proxy.md
  install
Due: none

add test coverage and error handling
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

fix(api): move gunicorn worker config to python file
  Dockerfile
  api/install/systemd/libretime-api.service
  api/libretime_api/gunicorn.py
Due: none

fix(api): move gunicorn worker config to python file (#2854)
  Dockerfile
  api/install/systemd/libretime-api.service
  api/libretime_api/gunicorn.py
Due: none

feat(installer)!: change default listen port to 8080 (#2852)
  Vagrantfile
  docker-compose.yml
  docker/nginx.conf
  docs/admin-manual/install/install-using-the-installer.md
  docs/admin-manual/install/reverse-proxy.md
  install
Due: none

feat: rewrite cloud-init config
  cloud-init.yml
Due: none

feat: rewrite cloud-init config (#2853)
  cloud-init.yml
Due: none

feat!: use nginx to serve media files
  api/libretime_api/storage/views/file.py
  docker-compose.yml
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docker/nginx.conf
  docs/admin-manual/configuration.md
  install
  installer/config.yml
  installer/nginx/libretime.conf
Due: config.yml

feat!: use nginx to serve media files (#2860)
  api/libretime_api/storage/views/file.py
  docker-compose.yml
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docker/nginx.conf
  docs/admin-manual/configuration.md
  install
  installer/config.yml
  installer/nginx/libretime.conf
Due: config.yml

chore: prefer binary when install python packages
  tools/python.mk
Due: none

style: format php files
  legacy/application/check.php
Due: legacy-assets-checksum-update

fix(api): ensure non ascii paths are handled by Nginx X-Accel-Redirect
  api/libretime_api/storage/views/file.py
Due: none

fix(api): ensure non ascii paths are handled by X-Accel-Redirect (#2861)
  api/libretime_api/storage/views/file.py
Due: none

fix(api): let nginx handle the media file content type
  api/libretime_api/storage/views/file.py
Due: none

fix(playout): increase file download chunk size to 8192 bytes
  playout/libretime_playout/player/file.py
Due: none

fix(playout): increase file download chunk size to 8192 bytes (#2863)
  playout/libretime_playout/player/file.py
Due: none

fix(api): let nginx handle the media file content type (#2862)
  api/libretime_api/storage/views/file.py
Due: none

fix(playout): remove empty file when the download request failed
  playout/libretime_playout/player/file.py
Due: none

fix(playout): remove empty file when the download request failed (#2864)
  playout/libretime_playout/player/file.py
Due: none

feat(installer): add the `--storage-path` flag
  install
  installer/nginx/libretime.conf
Due: none

feat(installer): add the `--storage-path` flag (#2865)
  install
  installer/nginx/libretime.conf
Due: none

style: format files
  legacy/application/auth/adapters/FreeIpa.php
  legacy/application/check.php
  legacy/application/common/FileDataHelper.php
  legacy/application/models/RabbitMq.php
  legacy/application/models/Scheduler.php
Due: legacy-assets-checksum-update

feat: run python in optimized mode
  analyzer/install/systemd/libretime-analyzer.service
  api/install/systemd/libretime-api.service
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-worker.service
Due: none

feat: run python in optimized mode (#2874)
  analyzer/install/systemd/libretime-analyzer.service
  api/install/systemd/libretime-api.service
  playout/install/systemd/libretime-liquidsoap.service
  playout/install/systemd/libretime-playout.service
  worker/install/systemd/libretime-worker.service
Due: none

fix(api): ensure question marks chars are handled by X-Accel-Redirect
  api/libretime_api/storage/views/file.py
Due: none

fix(api): paths with question marks chars are handled by X-Accel-Redirect (#2875)
  api/libretime_api/storage/views/file.py
Due: none

chore(main): release 4.0.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

docs: update release note
  docs/releases/4.0.0.md
  docs/releases/unreleased.md
Due: none

chore(main): release 4.0.0 (#2834)
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/4.0.0.md
  docs/releases/unreleased.md
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

add root override for init
  docs/contributor-manual/development-environment.md
Due: none

Restore "Record and rebroadcast" form and main recording functions
  legacy/application/views/scripts/schedule/add-show-form.phtml
  playout/libretime_playout/main.py
  playout/libretime_playout/recorder.py
Due: legacy-assets-checksum-update

Path conditions:
  requirements.txt: any of: setup.py$
  config.yml: any of: ^installer/config.yml$
  legacy-migrations-version: any of: ^api/libretime_api/legacy/migrations
  legacy-assets-checksum-update: any of: ^legacy
