Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^legacy/public(?!/js/airtime)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

ci: add branch names to commit scopes (#2824)
  .github/workflows/pr.yml
Due: none

docs: add release-note
  docs/releases/3.2.1.md
Due: none

docs: fix release note title
  docs/releases/3.2.0.md
Due: none

ci: ensure release pipeline run after tag
  .github/workflows/release-please.yml
Due: none

docs: fix release note title (#2829)
  docs/releases/3.2.0.md
Due: none

ci: ensure release pipeline run after tag (#2830)
  .github/workflows/release-please.yml
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

refactor: upgrade pydantic code to v2
  playout/libretime_playout/config.py
  shared/libretime_shared/config/__init__.py
  shared/libretime_shared/config/_base.py
  shared/libretime_shared/config/_env.py
  shared/libretime_shared/config/_fields.py
  shared/libretime_shared/config/_models.py
  shared/tests/config/base_test.py
  shared/tests/config/env_test.py
  shared/tests/config/fields_test.py
Due: none

style: format php files
  legacy/application/common/DateHelper.php
Due: legacy-assets-checksum-update

refactor(api): fix deprecation warnings
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/core/views/info.py
  api/libretime_api/core/views/stream.py
Due: none

refactor(api): fix deprecation warnings (#2839)
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/core/views/info.py
  api/libretime_api/core/views/stream.py
Due: none

fix(legacy): ensure last played criteria works with never played files
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

prefer -infinity over 0001-01-01
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

fix(legacy): ensure last played criteria works with never played files (#2840)
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

feat!: the `general.secret_key` configuration field is now required
  api/libretime_api/settings/prod.py
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  docs/releases/unreleased.md
  installer/config.yml
  legacy/application/configs/conf.php
  shared/libretime_shared/config/_models.py
Due: config.yml, legacy-assets-checksum-update

wip
  shared/tests/config/models_test.py
Due: none

wip
  playout/tests/conftest.py
  playout/tests/liquidsoap/fixtures/__init__.py
Due: none

wip
  api/libretime_api/settings/prod.py
Due: none

feat!: the `general.secret_key` configuration field is now required (#2841)
  api/libretime_api/settings/prod.py
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  docs/releases/unreleased.md
  installer/config.yml
  legacy/application/configs/conf.php
  playout/tests/conftest.py
  playout/tests/liquidsoap/fixtures/__init__.py
  shared/libretime_shared/config/_models.py
  shared/tests/config/models_test.py
Due: config.yml, legacy-assets-checksum-update

feat!: default system output is now pulseaudio
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
  legacy/application/configs/conf.php
  shared/libretime_shared/config/_models.py
Due: config.yml, legacy-assets-checksum-update

doc: add release note
  docs/releases/unreleased.md
Due: none

feat!: default system output is now `pulseaudio` (#2842)
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  docs/releases/unreleased.md
  installer/config.yml
  legacy/application/configs/conf.php
  shared/libretime_shared/config/_models.py
Due: config.yml, legacy-assets-checksum-update

chore(legacy): translated using weblate (Italian)
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#2843)
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

feat: disable uvicorn worker lifespan
  Dockerfile
  api/install/systemd/libretime-api.service
Due: none

refactor(worker): add require secret_key config field
  worker/tests/conftest.py
Due: none

feat: disable uvicorn worker lifespan (#2845)
  Dockerfile
  api/install/systemd/libretime-api.service
Due: none

refactor(worker): add require secret_key config field (#2846)
  worker/tests/conftest.py
Due: none

fix(worker): unbound variable when episode url returns HTTP 404
  worker/libretime_worker/tasks.py
Due: none

fix(worker): unbound variable when episode url returns HTTP 404 (#2844)
  worker/libretime_worker/tasks.py
Due: none

refactor(playout): fix deprecation warnings
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/player/events.py
Due: none

refactor(playout): fix deprecation warnings (#2847)
  playout/libretime_playout/liquidsoap/entrypoint.py
  playout/libretime_playout/player/events.py
Due: none

WIP: API delete files
  api/libretime_api/storage/views/file.py
Due: none

feat: add system output options
  playout/libretime_playout/liquidsoap/templates/outputs.liq.j2
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/fixtures/__init__.py
  shared/libretime_shared/config/_models.py
Due: none

refactor: fix lint
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/liquidsoap/fixtures/__init__.py
Due: none

docs: add system outputs docs
  docker/config.template.yml
  docker/config.yml
  docker/example/config.yml
  docs/admin-manual/configuration.md
  installer/config.yml
Due: config.yml
