Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^legacy/public(?!/js/airtime)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

feat(legacy): Order by filename when lptime is null
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

cleaned up some confusing code so can remove an obvious comment. Also get past the stupid PR check thing that needs 2 commits or the commit message amended
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

feat(legacy): order by filename when lptime is null (#3069)
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

Update rights-royalties.md
  docs/appendix/rights-royalties.md
Due: none

docs: update SoundExchange costs (#3070)
  docs/appendix/rights-royalties.md
Due: none

feat: add Norwegian Bokmål locale
  legacy/application/assets.json
  legacy/application/common/LocaleHelper.php
  legacy/application/models/Locale.php
  legacy/locale/locale.gen
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/public/js/plupload/i18n/nb_NO.js
Due: legacy-assets-checksum-update

feat: add Norwegian Bokmål locale (#3073)
  legacy/application/assets.json
  legacy/application/common/LocaleHelper.php
  legacy/application/models/Locale.php
  legacy/locale/locale.gen
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/public/js/plupload/i18n/nb_NO.js
Due: legacy-assets-checksum-update

fix: add missing file for nb_NO locale
  legacy/public/js/datatables/i18n/nb_NO.txt
Due: legacy-assets-checksum-update

fix: add missing file for nb_NO locale (#3075)
  legacy/public/js/datatables/i18n/nb_NO.txt
Due: legacy-assets-checksum-update

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nb_NO/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translated using weblate (Spanish)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3076)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translated using weblate (Ukrainian)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3077)
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

feat(analyzer): parse comment fields from mp3 files
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
Due: none

styles(analyzer): Python styles
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
Due: none

styles(analyzer): Run make format
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
Due: none

tests(analyzer): make tests pass for comment tags
  analyzer/libretime_analyzer/pipeline/analyze_metadata.py
  analyzer/tests/fixtures/__init__.py
  analyzer/tests/pipeline/analyze_metadata_test.py
Due: none

tests(analyzer): try to make tests on ci pass by putting the tests back such that they are incorrect and fail on my machine
  analyzer/tests/fixtures/__init__.py
Due: none

feat(legacy): add file size to file name in metadata editor
  legacy/application/controllers/LibraryController.php
  legacy/application/views/scripts/library/edit-file-md.phtml
Due: legacy-assets-checksum-update

feat(legacy): add file name to datatable columns
  legacy/application/models/StoredFile.php
  legacy/public/js/airtime/library/library.js
Due: legacy-assets-checksum-update

styles(legacy): Make linter pass
  legacy/application/controllers/LibraryController.php
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

fix(legacy): Update library.js hash
  legacy/application/assets.json
Due: legacy-assets-checksum-update

chore: fix linting ignore comments
  api/libretime_api/core/models/user.py
  playout/libretime_playout/player/fetch.py
Due: none

it needs both
  playout/libretime_playout/player/fetch.py
Due: none

chore: fix linting ignore comments (#3084)
  api/libretime_api/core/models/user.py
  playout/libretime_playout/player/fetch.py
Due: none

chore: update django-stubs version
  api/setup.py
Due: requirements.txt

chore: update django-stubs version (#3085)
  api/setup.py
Due: requirements.txt

feat(legacy): Admins can see full file path.
  legacy/application/controllers/LibraryController.php
  legacy/application/views/scripts/library/edit-file-md.phtml
Due: legacy-assets-checksum-update

fix(analyzer): make ffmpeg filters less aggressive
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
Due: none

fix(analyzer): fix tests
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
  analyzer/tests/fixtures/__init__.py
Due: none

fix(analyzer): make ffmpeg filters less aggressive (#3086)
  analyzer/libretime_analyzer/pipeline/_ffmpeg.py
  analyzer/tests/fixtures/__init__.py
Due: none

amends test for new database fields
  legacy/tests/application/models/database/datasets/test_checkOverlappingShows.yml
  legacy/tests/application/services/database/ShowServiceDbTest.php
  legacy/tests/application/services/database/datasets/test_ccShowInsertedIntoDatabase.yml
  legacy/tests/application/services/database/datasets/test_changeRepeatDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_createBiWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyMonthlyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createMonthlyWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createNoRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_createQuadWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createTriWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatNoEndNoRRShow.yml
  legacy/tests/application/services/database/datasets/test_createWeeklyRepeatRRShow.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstance.yml
  legacy/tests/application/services/database/datasets/test_deleteShowInstanceAndAllFollowing.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowChangeNoEndOption.yml
  legacy/tests/application/services/database/datasets/test_editRepeatingShowInstance.yml
  legacy/tests/application/services/database/datasets/test_removeFirstRepeatShowDayUpdatesScheduleCorrectly.yml
  legacy/tests/application/services/database/datasets/test_repeatShowCreationWhenUserMovesForwardInCalendar.yml
  legacy/tests/application/services/database/datasets/test_unlinkLinkedShow.yml
  legacy/tests/application/services/database/datasets/test_weeklyToBiWeekly.yml
  legacy/tests/application/services/database/datasets/test_weeklyToNoRepeat.yml
  legacy/tests/application/testdata/ShowServiceData.php
Due: legacy-assets-checksum-update

update schema.xml and run propel
  legacy/application/configs/airtime-conf.php
  legacy/application/models/airtime/map/CcPlaylistTableMap.php
  legacy/application/models/airtime/map/CcShowTableMap.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistPeer.php
  legacy/application/models/airtime/om/BaseCcPlaylistQuery.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowPeer.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/build/schema.xml
Due: legacy-assets-checksum-update

fix SQL statements
  api/libretime_api/legacy/migrations/0046_add_override_intro_outro_playlists.py
  api/libretime_api/legacy/migrations/sql/schema.sql
Due: legacy-migrations-version

Custom Intro/Outro lists per show
  api/libretime_api/legacy/migrations/0046_add_override_intro_outro_playlists.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  api/libretime_api/schedule/models/show.py
  api/libretime_api/schedule/serializers/show.py
  api/schema.yml
  legacy/application/assets.json
  legacy/application/forms/AddShowAutoPlaylist.php
  legacy/application/models/Show.php
  legacy/application/models/airtime/CcShow.php
  legacy/application/models/airtime/map/CcPlaylistTableMap.php
  legacy/application/models/airtime/map/CcShowTableMap.php
  legacy/application/models/airtime/om/BaseCcShow.php
  legacy/application/models/airtime/om/BaseCcShowPeer.php
  legacy/application/models/airtime/om/BaseCcShowQuery.php
  legacy/application/services/ShowFormService.php
  legacy/application/services/ShowService.php
  legacy/application/views/scripts/form/add-show-autoplaylist.phtml
  legacy/public/js/airtime/schedule/add-show.js
Due: legacy-migrations-version, legacy-assets-checksum-update

fix loading of lists
  legacy/application/common/AutoPlaylistManager.php
  legacy/application/models/Show.php
  legacy/application/services/ShowService.php
Due: legacy-assets-checksum-update

Update checksum
  legacy/application/assets.json
Due: legacy-assets-checksum-update

chore(main): release 4.3.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt
