Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^legacy/public(?!/js/airtime)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

ci: update vale to support MDX (#3148)
  .github/workflows/docs.yml
  .vale.ini
Due: none

chore(main): release 4.3.1
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

use fanout exchange for playout HA with server named temporary queues at rabbitmq's suggestion
  legacy/application/models/RabbitMq.php
  playout/libretime_playout/message_handler.py
Due: legacy-assets-checksum-update

document setting up playout HA
  docs/admin-manual/tutorials/setup-high-availability-playout.md
Due: none

remove extra spaces
  docs/admin-manual/tutorials/setup-high-availability-playout.md
Due: none

2 space indent in markdown I guess?
  docs/admin-manual/tutorials/setup-high-availability-playout.md
Due: none

blah
  docs/admin-manual/tutorials/setup-high-availability-playout.md
Due: none

docs: note #3150 docker volume deletion required in upgrade
  docs/releases/4.3.0.mdx
Due: none

chore(deps): update vale to v3.11.2
  .github/workflows/docs.yml
Due: none

docs: note #3150 docker volume deletion required in upgrade (#3153)
  docs/releases/4.3.0.mdx
Due: none

chore(deps): update vale to v3.11.2 (#3154)
  .github/workflows/docs.yml
Due: none

fix: build and run custom nginx container
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
Due: none

fix linting
  frontend/components.d.ts
  frontend/src/plugins/vue-i18n.ts
Due: none

install eslint
  .github/workflows/frontend.yml
  .github/workflows/project.yml
Due: none

remove GUI and switch to a more generic plugin support approach. Read an optional file in the liquidsoap LADSPA plugin dir.
  Dockerfile
  api/libretime_api/core/models/preference.py
  api/libretime_api/core/tests/models/test_preference.py
  api/libretime_api/core/tests/views/test_stream.py
  api/libretime_api/core/views/stream.py
  install
  legacy/application/assets.json
  legacy/application/controllers/PreferenceController.php
  legacy/application/forms/StreamSetting.php
  legacy/application/models/Preference.php
  legacy/application/views/scripts/preference/stream-setting.phtml
  legacy/public/css/images/753E35DF76BB56F7.png
  legacy/public/css/images/knob_2x.png
  legacy/public/css/images/meterbg.png
  legacy/public/css/images/meterneedle.svg
  legacy/public/js/airtime/preferences/streamsetting.js
  playout/libretime_playout/liquidsoap/models.py
  playout/libretime_playout/liquidsoap/templates/entrypoint.liq.j2
  playout/libretime_playout/liquidsoap/templates/master_me.liq.j2
  playout/tests/conftest.py
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
  playout/tests/player/schedule_test.py
Due: legacy-assets-checksum-update

add plugin path creation to docker container, remove whitespace line.
  Dockerfile
  legacy/application/models/Preference.php
Due: legacy-assets-checksum-update

fix whitespace for tests
  playout/tests/liquidsoap/__snapshots__/entrypoint_test.ambr
Due: none

update composer.lock
  legacy/composer.lock
Due: legacy-assets-checksum-update

ci: fix eslint check
  .pre-commit-config.yaml
Due: none

remove manual changes in generated file
  frontend/components.d.ts
Due: none

consolidate .gitignore
  .gitignore
  frontend/.gitignore
Due: none

add help page
  frontend/src/components/Info.vue
  frontend/src/locales/en-US.json
  frontend/src/pages/dashboard/help.vue
  frontend/src/plugins/vuetify.ts
  frontend/src/styles/layers.css
  frontend/src/styles/settings.scss
Due: none

make sections modular
  frontend/components.d.ts
  frontend/src/components/Section.stories.ts
  frontend/src/components/Section.vue
  frontend/src/locales/en-US.json
  frontend/src/pages/dashboard/help.vue
Due: none

do not copy files into docker images yet
  Dockerfile
Due: none

ci: build new nginx image
  .github/workflows/container.yml
Due: none

fix: add missing docker-bake updates
  docker-bake.json
Due: none

feat: build and run custom nginx container (#3155)
  .github/workflows/container.yml
  Dockerfile
  docker-bake.json
  docker-compose.override.yml
  docker-compose.yml
Due: none

feat: include nginx config inside libretime-nginx container
  .env.dev
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
  docs/admin-manual/install/install-using-docker.mdx
Due: none

feat: include nginx config inside libretime-nginx container (#3157)
  .env.dev
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
  docs/admin-manual/install/install-using-docker.mdx
Due: none

chore(main): release 4.4.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

docs: add release note for 4.4.0
  docs/releases/4.4.0.mdx
Due: none

chore(main): release 4.4.0 (#3145)
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/4.4.0.mdx
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

docs: fix release note title
  docs/releases/4.4.0.mdx
Due: none

docs: fix release note title (#3159)
  docs/releases/4.4.0.mdx
Due: none
