Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: destroyed-symlinks

      - id: check-json
      - id: check-yaml
      - id: check-xml
      - id: check-toml

      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: \.json$
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: \.ambr$

      - id: name-tests-test
        exclude: ^api

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        files: \.(md|mdx|yml|yaml|js|jsx|ts|tsx|json|css)$
        exclude: ^legacy/public(?!/js/airtime)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.14.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.15.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "4.2"]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [--resolve-all-configs]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.9.1
    hooks:
      - id: black

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        args: [--ignore-words=.codespellignore]
        exclude: (^api/schema.yml|^legacy.*|yarn\.lock)$

  - repo: local
    hooks:
      - id: shfmt
        name: shfmt
        language: docker_image
        entry: mvdan/shfmt -i 2 -ci -sr -kp -w
        types: [shell]

      - id: shellcheck
        name: shellcheck
        language: docker_image
        entry: koalaman/shellcheck --color=always --severity=warning
        types: [shell]

      - id: requirements.txt
        name: requirements.txt
        description: Generate requirements.txt
        entry: tools/extract_requirements.py dev sentry
        pass_filenames: false
        language: script
        files: setup.py$

      - id: config.yml
        name: config.yml
        description: Update config files
        entry: tools/update-config-files.sh
        pass_filenames: false
        language: script
        files: ^installer/config.yml$

      - id: legacy-migrations-version
        name: legacy-migrations-version
        description: Ensure valid schema version for migrations
        entry: tools/legacy-migrations-version.sh
        pass_filenames: false
        language: script
        files: ^api/libretime_api/legacy/migrations

      - id: legacy-assets-checksum-update
        name: legacy-assets-checksum-update
        description: Update legacy assets checksum
        entry: legacy/tools/assets-checksum-update.py
        pass_filenames: false
        language: script
        files: ^legacy

update docs
  docs/contributor-manual/development-environment.md
Due: none

chore: update docker compose commands (#3132)
  Makefile
  docs/contributor-manual/development-environment.md
Due: none

remove PHP 8.1 tests
  .github/workflows/legacy.yml
Due: none

remove stated PHP 8.x support
  legacy/composer.json
  legacy/tools/composer.json
Due: legacy-assets-checksum-update

update composer lock file
  legacy/composer.lock
Due: legacy-assets-checksum-update

fix: update preview_jplayer.js
  legacy/public/js/airtime/audiopreview/preview_jplayer.js
Due: legacy-assets-checksum-update

remove extra line to fix linter
  legacy/application/assets.json
  legacy/public/js/airtime/audiopreview/preview_jplayer.js
Due: legacy-assets-checksum-update

feat: add flac support to Web player (#3128)
  legacy/application/assets.json
  legacy/public/js/airtime/audiopreview/preview_jplayer.js
Due: legacy-assets-checksum-update

style(api): format pyproject.toml
  api/pyproject.toml
Due: none

feat(api): create auth app
  api/libretime_api/auth/__init__.py
  api/libretime_api/auth/apps.py
  api/libretime_api/auth/router.py
  api/libretime_api/auth/tests/test_views.py
  api/libretime_api/auth/views.py
  api/libretime_api/settings/_internal.py
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
  api/libretime_api/urls.py
  api/requirements.txt
  api/schema.yml
  api/setup.py
Due: requirements.txt

feat(api): vendor phpserialize3==0.1.4
  api/libretime_api/legacy/vendor/__init__.py
  api/libretime_api/legacy/vendor/phpserialize.py
  api/libretime_api/legacy/vendor/phpserialize_test.py
  api/pyproject.toml
Due: none

feat(api): allow legacy auth from api
  api/libretime_api/auth/tests/__init__.py
  api/libretime_api/auth/tests/test_views.py
  api/libretime_api/auth/views.py
  api/libretime_api/legacy/models.py
  api/libretime_api/legacy/tests/models_test.py
  api/libretime_api/legacy/vendor/phpserialize.py
Due: none

feat(api): add user is_active field
  api/libretime_api/core/models/user.py
  api/libretime_api/legacy/migrations/0047_add_user_is_active_field.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/legacy/migrations/sql/schema.sql
  legacy/application/models/airtime/map/CcSubjsTableMap.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcSubjsPeer.php
  legacy/application/models/airtime/om/BaseCcSubjsQuery.php
  legacy/build/schema.xml
Due: legacy-migrations-version, legacy-assets-checksum-update

fix formatting
  api/libretime_api/legacy/vendor/phpserialize.py
Due: none

add default to match sql
  api/libretime_api/core/models/user.py
Due: none

ci: only check last commit for API schema in PRs
  .github/workflows/api-schema.yml
Due: none

ci: only check last commit for API schema in PRs (#3133)
  .github/workflows/api-schema.yml
Due: none

fix(deps): improve the way hashlib is called in libretime_playout/player
  playout/libretime_playout/player/file.py
Due: none

fix(playout): improve the way hashlib is called in libretime_playout/player (#3135)
  playout/libretime_playout/player/file.py
Due: none

chore(main): release 4.3.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

chore: ignore broken liquidsoap package link
  .github/workflows/housekeeping.yml
Due: none

ci: force python 3.12 for linting
  .github/workflows/_python.yml
  .github/workflows/project.yml
Due: none

ci: fix failures (#3137)
  .github/workflows/_python.yml
  .github/workflows/housekeeping.yml
  .github/workflows/project.yml
Due: none

chore(legacy): translated using weblate (Chinese (Simplified Han script))
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#3136)
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

feat(playout): add Liquidsoap 2.0 support (#2786)
  playout/libretime_playout/liquidsoap/2.0/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.0/ls_script.liq
Due: none

update propel library files
  legacy/application/configs/airtime-conf.php
  legacy/application/configs/classmap-airtime-conf.php
  legacy/application/models/airtime/om/BaseCcBlock.php
  legacy/application/models/airtime/om/BaseCcBlockcontents.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcLiveLog.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontents.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistory.php
  legacy/application/models/airtime/om/BaseCcSchedule.php
  legacy/application/models/airtime/om/BaseCcShowDays.php
  legacy/application/models/airtime/om/BaseCcShowInstances.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcast.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcSubjsToken.php
  legacy/application/models/airtime/om/BaseCcTimestamp.php
  legacy/application/models/airtime/om/BaseCcWebstream.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadata.php
  legacy/application/models/airtime/om/BaseCeleryTasks.php
  legacy/application/models/airtime/om/BaseImportedPodcast.php
  legacy/application/models/airtime/om/BasePodcastEpisodes.php
  legacy/application/models/airtime/om/BaseThirdPartyTrackReferences.php
Due: legacy-assets-checksum-update

fix linting
  legacy/application/configs/airtime-conf.php
  legacy/application/configs/classmap-airtime-conf.php
Due: legacy-assets-checksum-update

feat(legacy): update deprecated PHP code (#2789)
  legacy/application/common/FileDataHelper.php
  legacy/application/configs/airtime-conf.php
  legacy/application/controllers/ApiController.php
  legacy/application/controllers/AudiopreviewController.php
  legacy/application/controllers/IndexController.php
  legacy/application/controllers/ScheduleController.php
  legacy/application/models/Block.php
  legacy/application/models/Playlist.php
  legacy/application/models/ShowBuilder.php
  legacy/application/models/airtime/CcBlock.php
  legacy/application/models/airtime/CcPlaylist.php
  legacy/application/models/airtime/CcSchedule.php
  legacy/application/models/airtime/CcShowInstances.php
  legacy/application/models/airtime/om/BaseCcAccess.php
  legacy/application/models/airtime/om/BaseCcBackup.php
  legacy/application/models/airtime/om/BaseCcTrans.php
  legacy/application/services/MediaService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/PodcastService.php
  legacy/composer.lock
Due: legacy-assets-checksum-update

ci: force python 3.12 for api schema check
  .github/workflows/api-schema.yml
Due: none

ci: move to new googleapis/release-please-action action
  .github/workflows/release-please.yml
Due: none

chore(main): release 4.3.0 (#3049)
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

ci: run doc lint and sync on releases
  .github/workflows/docs.yml
Due: none

docs: add missing v4.3.0 release note
  .github/workflows/docs.yml
  docs/releases/4.3.0.md
Due: none

docs: use correct MDX extension for files that use MDX/JSX
  docs/admin-manual/install/install-using-docker.mdx
  docs/admin-manual/install/install-using-the-installer.mdx
  docs/releases/3.0.0-alpha.00.mdx
  docs/releases/3.0.0-alpha.01.mdx
  docs/releases/3.0.0-alpha.02.mdx
  docs/releases/3.0.0-alpha.03.mdx
  docs/releases/3.0.0-alpha.04.mdx
  docs/releases/3.0.0-alpha.05.mdx
  docs/releases/3.0.0-alpha.06.mdx
  docs/releases/3.0.0-alpha.07.mdx
  docs/releases/3.0.0-alpha.08.mdx
  docs/releases/3.0.0-alpha.09.mdx
  docs/releases/3.0.0-alpha.10.mdx
  docs/releases/3.0.0-alpha.11.mdx
  docs/releases/3.0.0-alpha.12.mdx
  docs/releases/3.0.0-alpha.13.mdx
  docs/releases/3.0.0-beta.0.mdx
  docs/releases/3.0.0-beta.1.mdx
  docs/releases/3.0.0-beta.2.mdx
  docs/releases/3.0.0.mdx
  docs/releases/3.0.1.mdx
  docs/releases/3.0.2.mdx
  docs/releases/3.1.0.mdx
  docs/releases/3.2.0.mdx
  docs/releases/4.0.0.mdx
  docs/releases/4.1.0.mdx
  docs/releases/4.2.0.mdx
  docs/releases/4.3.0.mdx
  docs/releases/_release-head.mdx
  docs/releases/unreleased.mdx
Due: none

escape < for mdx
  docs/releases/3.0.0-beta.0.mdx
  docs/releases/3.1.0.mdx
Due: none

fix grammar
  docs/releases/_release-head.mdx
Due: none
