Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update, api-schema-update

requirements.txt:
  name: requirements.txt
  description: Generate requirements.txt
  entry: tools/extract_requirements.py dev sentry
  pass_filenames: false
  language: script

config.yml:
  name: config.yml
  description: Update config files
  entry: tools/update-config-files.sh
  pass_filenames: false
  language: script

legacy-migrations-version:
  name: legacy-migrations-version
  description: Ensure valid schema version for migrations
  entry: tools/legacy-migrations-version.sh
  pass_filenames: false
  language: script

legacy-assets-checksum-update:
  name: legacy-assets-checksum-update
  description: Update legacy assets checksum
  entry: legacy/tools/assets-checksum-update.py
  pass_filenames: false
  language: script

api-schema-update:
  name: api-schema-update
  description: Ensure API schema is up to date
  entry: make -C api schema
  pass_filenames: false
  language: system

fix lint
  api/libretime_api/storage/models/library.py
Due: api-schema-update

chore(main): release 4.6.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt, api-schema-update

Handle exception properly
  api/libretime_api/storage/management/commands/bulk_import.py
Due: api-schema-update

Fix tests and lint again
  api/libretime_api/storage/management/commands/bulk_import.py
  api/libretime_api/storage/tests/management/commands/test_bulk_import.py
Due: api-schema-update

Fix file upload with library
  api/libretime_api/storage/management/commands/bulk_import.py
  api/libretime_api/storage/models/library.py
Due: api-schema-update

Handle uninitialized variable
  api/libretime_api/storage/management/commands/bulk_import.py
Due: api-schema-update

format and lint
  api/libretime_api/storage/management/commands/bulk_import.py
Due: api-schema-update

rename variable
  api/libretime_api/storage/management/commands/bulk_import.py
Due: api-schema-update

fix(api): file upload with library (#3213)
  api/libretime_api/storage/management/commands/bulk_import.py
  api/libretime_api/storage/models/library.py
  api/libretime_api/storage/tests/management/commands/test_bulk_import.py
Due: api-schema-update

fix(api): add psql client to api container image
  Dockerfile
Due: none

refactor(api): check if library exists once
  api/libretime_api/storage/management/commands/bulk_import.py
Due: api-schema-update

test: update jsonschema fixture
  shared/tests/config/base_test.py
Due: none

chore: fix lint
  shared/libretime_shared/config/_fields.py
Due: none

wip: remove old worker and fix tests
  api/install/systemd/libretime-worker.service
  api/libretime_api/podcasts/tests/__init__.py
  api/libretime_api/podcasts/tests/fixtures/__init__.py
  api/libretime_api/podcasts/tests/fixtures/malformed.mp3
  api/libretime_api/podcasts/tests/fixtures/s1-stereo-tagged.mp3
  api/libretime_api/podcasts/tests/fixtures/s1-stereo.ogg
  api/libretime_api/podcasts/tests/tasks_test.py
  worker/Makefile
  worker/README.md
  worker/libretime_worker/__init__.py
  worker/libretime_worker/config.py
  worker/libretime_worker/main.py
  worker/libretime_worker/tasks.py
  worker/pyproject.toml
  worker/requirements.txt
  worker/setup.py
  worker/tests/conftest.py
Due: requirements.txt, api-schema-update

api worker using celery and django celery result backend
  Dockerfile
  api/Makefile
  api/libretime_api/core/models/__init__.py
  api/libretime_api/core/models/worker.py
  api/libretime_api/core/router.py
  api/libretime_api/core/serializers/__init__.py
  api/libretime_api/core/serializers/worker.py
  api/libretime_api/core/views/__init__.py
  api/libretime_api/core/views/worker.py
  api/libretime_api/legacy/migrations/0047_drop_third_party_track_references.py
  api/libretime_api/legacy/migrations/__init__.py
  api/libretime_api/podcasts/tasks.py
  api/libretime_api/settings/_internal.py
  api/libretime_api/settings/prod.py
  api/libretime_api/settings/testing.py
  api/libretime_api/worker.py
  api/requirements.txt
  api/schema.yml
  api/setup.py
  docker-compose.override.yml
  docker-compose.yml
  legacy/application/assets.json
  legacy/application/common/Celery.php
  legacy/application/common/CeleryManager.php
  legacy/application/common/TaskManager.php
  legacy/application/controllers/ApiController.php
  legacy/application/services/CeleryServiceFactory.php
  legacy/application/services/MediaService.php
  legacy/application/services/PodcastEpisodeService.php
  legacy/application/services/ThirdPartyCeleryService.php
  legacy/application/services/ThirdPartyService.php
  legacy/build/schema.xml
  legacy/composer.json
  legacy/composer.lock
  legacy/public/js/airtime/library/podcast.js
Due: requirements.txt, legacy-migrations-version, legacy-assets-checksum-update, api-schema-update

wip
  api/setup.py
Due: requirements.txt, api-schema-update

wip
  api/libretime_api/podcasts/tasks.py
  api/libretime_api/podcasts/tests/tasks_test.py
  api/libretime_api/worker.py
Due: api-schema-update

wip
  api/libretime_api/conftest.py
  api/libretime_api/podcasts/models/podcast.py
  api/libretime_api/podcasts/tasks.py
  api/libretime_api/podcasts/tests/tasks_test.py
  api/libretime_api/settings/prod.py
  api/libretime_api/storage/models/file.py
  api/libretime_api/worker.py
  api/requirements.txt
  api/schema.yml
Due: api-schema-update

wip
  .github/workflows/worker.yml
  Dockerfile
  api/libretime_api/conftest.py
  api/libretime_api/podcasts/tasks.py
  codecov.yml
  install
Due: api-schema-update

wip
  .github/release-please-config.json
Due: none

Include User-Agent in podcast download request
  worker/libretime_worker/tasks.py
Due: none

fix: week info now follows the week start day preference
  legacy/application/common/DateHelper.php
  legacy/application/common/WidgetHelper.php
Due: legacy-assets-checksum-update

Add default error handling for non-UTF8 metadata
  analyzer/libretime_analyzer/pipeline/_utils.py
Due: none

lint/fix
  worker/libretime_worker/tasks.py
Due: none

lint/fix
  analyzer/libretime_analyzer/pipeline/_utils.py
Due: none

fix(worker): include User-Agent in podcast download request (#3229)
  worker/libretime_worker/tasks.py
Due: none

fix(analyzer): add default error handling for non-UTF8 metadata (#3232)
  analyzer/libretime_analyzer/pipeline/_utils.py
Due: none

Add Debian 12 (Bookworm) support with PHP 8.2 and Liquidsoap 2.1
  analyzer/packages.ini
  api/packages.ini
  install
  legacy/application/common/Database.php
  legacy/application/configs/navigation.php
  legacy/application/models/Webstream.php
  legacy/application/models/airtime/om/BaseCcBlock.php
  legacy/application/models/airtime/om/BaseCcBlockcontents.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcLiveLog.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontents.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistory.php
  legacy/application/models/airtime/om/BaseCcSchedule.php
  legacy/application/models/airtime/om/BaseCcShowDays.php
  legacy/application/models/airtime/om/BaseCcShowInstances.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcast.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcSubjsToken.php
  legacy/application/models/airtime/om/BaseCcTimestamp.php
  legacy/application/models/airtime/om/BaseCcWebstream.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadata.php
  legacy/application/models/airtime/om/BaseCeleryTasks.php
  legacy/application/models/airtime/om/BaseImportedPodcast.php
  legacy/application/models/airtime/om/BasePodcastEpisodes.php
  legacy/application/models/airtime/om/BaseThirdPartyTrackReferences.php
  legacy/application/modules/rest/controllers/RouteController.php
  legacy/application/services/ShowService.php
  legacy/install/php-fpm/libretime-legacy.conf
  legacy/packages.ini
  legacy/vendor-php82.patch
  playout/libretime_playout/liquidsoap/2.1/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.1/ls_script.liq
  playout/packages.ini
  playout/vine-python311.patch
  shared/packages.ini
Due: legacy-assets-checksum-update, api-schema-update

feat(installer): add Debian 12 (bookworm) detection and PHP 8.2 packages
  api/packages.ini
  install
  legacy/install/php-fpm/libretime-legacy.conf
  legacy/packages.ini
Due: legacy-assets-checksum-update, api-schema-update

fix(legacy): replace deprecated strftime() with date() in Propel Base models
  legacy/application/models/airtime/om/BaseCcBlock.php
  legacy/application/models/airtime/om/BaseCcBlockcontents.php
  legacy/application/models/airtime/om/BaseCcFiles.php
  legacy/application/models/airtime/om/BaseCcLiveLog.php
  legacy/application/models/airtime/om/BaseCcPlaylist.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontents.php
  legacy/application/models/airtime/om/BaseCcPlayoutHistory.php
  legacy/application/models/airtime/om/BaseCcSchedule.php
  legacy/application/models/airtime/om/BaseCcShowDays.php
  legacy/application/models/airtime/om/BaseCcShowInstances.php
  legacy/application/models/airtime/om/BaseCcShowRebroadcast.php
  legacy/application/models/airtime/om/BaseCcSubjs.php
  legacy/application/models/airtime/om/BaseCcSubjsToken.php
  legacy/application/models/airtime/om/BaseCcTimestamp.php
  legacy/application/models/airtime/om/BaseCcWebstream.php
  legacy/application/models/airtime/om/BaseCcWebstreamMetadata.php
  legacy/application/models/airtime/om/BaseCeleryTasks.php
  legacy/application/models/airtime/om/BaseImportedPodcast.php
  legacy/application/models/airtime/om/BasePodcastEpisodes.php
  legacy/application/models/airtime/om/BaseThirdPartyTrackReferences.php
Due: legacy-assets-checksum-update

fix(legacy): fix PHP 8.2 dynamic properties and deprecations in application code
  legacy/application/common/Database.php
  legacy/application/configs/navigation.php
  legacy/application/models/Webstream.php
  legacy/application/models/airtime/om/BaseCcBlockcontentsQuery.php
  legacy/application/models/airtime/om/BaseCcPlaylistcontentsQuery.php
  legacy/application/modules/rest/controllers/RouteController.php
  legacy/application/services/ShowService.php
Due: legacy-assets-checksum-update

fix(playout): add vine/five.py Python 3.11 compatibility patch
  install
  playout/vine-python311.patch
Due: none

feat(playout): add Liquidsoap 2.1 script directory for Debian 12
  playout/libretime_playout/liquidsoap/2.1/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.1/ls_script.liq
Due: none

feat(playout): add Liquidsoap 2.1 script directory for Debian 12 (#3244)
  playout/libretime_playout/liquidsoap/2.1/ls_lib.liq
  playout/libretime_playout/liquidsoap/2.1/ls_script.liq
Due: none

chore: fix cp recursive flag for pre-commit
  tools/ci-sync-docs.sh
Due: none

Path conditions:
  requirements.txt: any of: setup.py$
  config.yml: any of: ^installer/config.yml$
  legacy-migrations-version: any of: ^api/libretime_api/legacy/migrations
  legacy-assets-checksum-update: any of: ^legacy
  api-schema-update: any of: ^api
