Repository LibreTime/libretime: changes, and which pre-commit hooks are due for each by the changed paths.
All: requirements.txt, config.yml, legacy-migrations-version, legacy-assets-checksum-update

requirements.txt:
  name: requirements.txt
  description: Generate requirements.txt
  entry: tools/extract_requirements.py dev sentry
  pass_filenames: false
  language: script

config.yml:
  name: config.yml
  description: Update config files
  entry: tools/update-config-files.sh
  pass_filenames: false
  language: script

legacy-migrations-version:
  name: legacy-migrations-version
  description: Ensure valid schema version for migrations
  entry: tools/legacy-migrations-version.sh
  pass_filenames: false
  language: script

legacy-assets-checksum-update:
  name: legacy-assets-checksum-update
  description: Update legacy assets checksum
  entry: legacy/tools/assets-checksum-update.py
  pass_filenames: false
  language: script

feat: start celery worker programmatically
  Dockerfile
  worker/install/systemd/libretime-worker.service
  worker/libretime_worker/main.py
  worker/setup.py
Due: requirements.txt

feat: start celery worker programmatically (#2988)
  Dockerfile
  worker/install/systemd/libretime-worker.service
  worker/libretime_worker/main.py
  worker/setup.py
Due: requirements.txt

feat: move schedule processing exclusively to playout
  legacy/application/controllers/PreferenceController.php
  legacy/application/controllers/plugins/RabbitMqPlugin.php
  legacy/application/models/tests/populator.php
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/schedule.py
Due: legacy-assets-checksum-update

feat: use cached request session when fetching schedule
  api-client/libretime_api_client/_client.py
  playout/libretime_playout/player/schedule.py
Due: none

chore(legacy): update locales
  legacy/locale/cs_CZ/LC_MESSAGES/libretime.po
  legacy/locale/de_AT/LC_MESSAGES/libretime.po
  legacy/locale/de_DE/LC_MESSAGES/libretime.po
  legacy/locale/el_GR/LC_MESSAGES/libretime.po
  legacy/locale/en_CA/LC_MESSAGES/libretime.po
  legacy/locale/en_GB/LC_MESSAGES/libretime.po
  legacy/locale/en_US/LC_MESSAGES/libretime.po
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
  legacy/locale/fr_FR/LC_MESSAGES/libretime.po
  legacy/locale/hr_HR/LC_MESSAGES/libretime.po
  legacy/locale/hu_HU/LC_MESSAGES/libretime.po
  legacy/locale/it_IT/LC_MESSAGES/libretime.po
  legacy/locale/ja_JP/LC_MESSAGES/libretime.po
  legacy/locale/ko_KR/LC_MESSAGES/libretime.po
  legacy/locale/nl_NL/LC_MESSAGES/libretime.po
  legacy/locale/pl_PL/LC_MESSAGES/libretime.po
  legacy/locale/pt_BR/LC_MESSAGES/libretime.po
  legacy/locale/ru_RU/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS/LC_MESSAGES/libretime.po
  legacy/locale/sr_RS@latin/LC_MESSAGES/libretime.po
  legacy/locale/tr_TR/LC_MESSAGES/libretime.po
  legacy/locale/uk_UA/LC_MESSAGES/libretime.po
  legacy/locale/zh_CN/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

refactor: Clean up some of the block criteria code that was duplicated
  legacy/application/forms/SmartBlockCriteria.php
  legacy/application/models/Block.php
  legacy/application/models/Criteria.php
Due: legacy-assets-checksum-update

feat: Add filename criteria
  legacy/application/models/Criteria.php
  legacy/public/js/airtime/playlist/smart_blockbuilder.js
Due: legacy-assets-checksum-update

fix requirements
  api/setup.py
Due: requirements.txt

Install the actual worker
  install
Due: none

Install the actual worker (#6)
  install
Due: none

Apikey rest delete (#7)
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

fix(installer): setup the worker entrypoint (#2996)
  install
Due: none

feat(legacy): visual cue point editor (#2947)
  legacy/application/assets.json
  legacy/application/controllers/LibraryController.php
  legacy/application/controllers/plugins/PageLayoutInitPlugin.php
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/css/images/slider.png
  legacy/public/css/playlist_builder.css
  legacy/public/css/styles.css
  legacy/public/js/airtime/library/spl.js
  legacy/public/js/wavesurfer/cursor.js
  legacy/public/js/wavesurfer/cursor.min.js
  legacy/public/js/wavesurfer/libretime.js
  legacy/public/js/wavesurfer/minimap.js
  legacy/public/js/wavesurfer/minimap.min.js
  legacy/public/js/wavesurfer/regions.js
  legacy/public/js/wavesurfer/regions.min.js
  legacy/public/js/wavesurfer/timeline.js
  legacy/public/js/wavesurfer/timeline.min.js
  legacy/public/js/wavesurfer/wavesurfer.js
  legacy/public/js/wavesurfer/wavesurfer.min.js
Due: legacy-assets-checksum-update

chore(legacy): translated using weblate (Spanish)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

chore(legacy): translations update from Hosted Weblate (#2998)
  legacy/locale/es_ES/LC_MESSAGES/libretime.po
Due: legacy-assets-checksum-update

feat: Add current date injector
  docs/user-manual/playlists.md
  legacy/application/models/Block.php
Due: legacy-assets-checksum-update

feat: build schedule events exclusively in playout (#2946)
  legacy/application/controllers/PreferenceController.php
  legacy/application/controllers/plugins/RabbitMqPlugin.php
  legacy/application/models/tests/populator.php
  playout/libretime_playout/player/fetch.py
  playout/libretime_playout/player/schedule.py
Due: legacy-assets-checksum-update

Allow file deletes from V1 REST API call
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

Add comment to satisfy CI checks (*sigh*)
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

removed unused code and refactored
  legacy/application/assets.json
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/css/styles.css
  legacy/public/js/waveformplaylist/track_render.js
  legacy/public/js/wavesurfer/libretime.js
  legacy/public/js/wavesurfer/minimap.js
  legacy/public/js/wavesurfer/minimap.min.js
Due: legacy-assets-checksum-update

correct zoom level on expand
  legacy/application/assets.json
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/js/wavesurfer/libretime.js
Due: legacy-assets-checksum-update

fix concurrency
  legacy/application/views/scripts/library/edit-file-md.phtml
Due: legacy-assets-checksum-update

add info logging when deleting through API
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

refactor(legacy): remove unused waveform related code (#3003)
  legacy/application/assets.json
  legacy/application/forms/EditAudioMD.php
  legacy/application/views/scripts/library/edit-file-md.phtml
  legacy/public/css/styles.css
  legacy/public/js/waveformplaylist/track_render.js
  legacy/public/js/wavesurfer/libretime.js
  legacy/public/js/wavesurfer/minimap.js
  legacy/public/js/wavesurfer/minimap.min.js
Due: legacy-assets-checksum-update

fix: use timezone aware datetime
  api/libretime_api/schedule/models/schedule.py
Due: none

feat(api): implement file deletion - new fork
  api/libretime_api/schedule/models/schedule.py
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

refactor: use drf modelviewset get_object helper
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

fix(legacy): allow deleting file with api token (#2995)
  legacy/application/models/StoredFile.php
Due: legacy-assets-checksum-update

refactor: improve file delete operation
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

feat(api): implement file deletion (#2960)
  api/libretime_api/schedule/models/schedule.py
  api/libretime_api/storage/tests/views/test_file.py
  api/libretime_api/storage/views/file.py
Due: none

fix(worker): ensure celery beat is also started
  worker/libretime_worker/main.py
Due: none

fix(worker): ensure celery beat is started (#3007)
  worker/libretime_worker/main.py
Due: none

chore(main): release 4.1.0
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

docs: add release note
  docs/releases/4.1.0.md
  docs/releases/unreleased.md
Due: none

chore(main): release 4.1.0 (#2893)
  .github/release-please-manifest.json
  CHANGELOG.md
  analyzer/setup.py
  api-client/setup.py
  api/setup.py
  docs/releases/4.1.0.md
  docs/releases/unreleased.md
  playout/setup.py
  shared/setup.py
  worker/setup.py
Due: requirements.txt

fix: playlist allocates inaccurate time to smartblocks
  legacy/application/models/Scheduler.php
Due: legacy-assets-checksum-update

fix: container startup order in docker-compose.yml
  docker-compose.yml
Due: none

Path conditions:
  requirements.txt: any of: setup.py$
  config.yml: any of: ^installer/config.yml$
  legacy-migrations-version: any of: ^api/libretime_api/legacy/migrations
  legacy-assets-checksum-update: any of: ^legacy
